@use "../global" as g;
@use "../foundation/extend";

.p-scrollFade__grid ,.p-scrollFade__grid2  {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  @include g.mq(md) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.p-scrollFade__grid__left{
  display: flex;
  @include g.mq(md) {
    order: 2;
  }
  position: sticky;
  top: 0;
  height: 100vh;
  @include g.mq(md) {
    height: auto;
  }
}
.p-scrollFade__grid__left--inner{
  margin: auto;
}
.p-scrollFade__grid__right{
  position: relative;
  height: 100vh;
}

.p-scrollFade__grid__right--img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: block;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.p-scrollFade__grid__right--img:first-child{
  opacity: 1;
}
.p-xxx{
  height: 600px;
}
